/* COLOR PALETTE

#ec1f27;
#f04d54;
#f3797f;
#fbd2d4;

#231e1e;
#3b3838;
#5f5d5d;
#8c8989;
#c2c0bf;

 */

/* global styling */

	body {
		padding-top: 80px;
		color: #231e1e;
		}

	h1, h2, h3, h4, h5, h6 {
		color: #231e1e;
	}

	h1, h2, h3  {
		font-family: "Styrene B";
	}

	h4, h5, h6, p  {
		font-family: "Klima";
	}

	a, a:hover {
		color: #ec1f27;
	}

	a:hover {
		cursor: pointer;
	}

/* navbar styling */

	.navbar, .navbar-inverse {
		background-color: #ec1f27;
		border-style: none;
		min-height: 80px;
	}

	/* logo */

		.navbar-brand {
			height: auto;
		}

		.navbar-brand img {
			height: 48px;
			width: auto;
		}

	/* navbar menu items */

		ul.nav {
			padding: 15px;
		}

	/* navbar hamburger menu */

		.navbar-toggle, .navbar-inverse .navbar-toggle {
			margin: 15px;
			border: 1px solid #ffffff;
		}

		.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
			text-decoration: underline;
			background-color: rgba(255, 255, 255, 0.2);
			transition: 0.5s;
		}

		.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active {
			text-decoration: underline;
			background-color: transparent;
			transition: 0.5s;
		}

		.navbar-inverse .navbar-collapse {
			border-style: none;
		}

		/* hamburger menu links */

			.navbar-inverse .navbar-nav > li > a {
				color: #eeeeee;
			}

			.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
				text-decoration: underline;
				background-color: rgba(255, 255, 255, 0.2);
				transition: 0.5s;
				border-radius: 3px;
			}

			.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
				text-decoration: underline;
			}

		/* jumbotron feature */

			.jumbotron.feature {
				background-color: rgb(236, 31, 39);
				color: rgb(35, 31, 32);
				margin-bottom: 0;
				}

				.feature h3 {
					color: #fff;
				}

				.feature .container h2 {
					color: #fff;
					font-weight: bold;
				}

		/* jumbotron page content */

			.jumbotron {
				background-color: #fbd3d4;
				color: rgb(35, 31, 32);
			}

			.container .jumbotron {
				border-radius: 0;
			}

			@media (min-width: 768px) {
				.container .jumbotron {
					margin-top: 50px;
					border-radius: 6px;
				}
			}

			.jumbotron p {
				font-weight: 300;
			}

			.page-header {
				border-bottom: 3px dotted #000;
			}

.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: rgb(251, 210, 212);
	color: rgb(35, 31, 32);
}

.footer-blurb-item {
    padding: 30px;
    }

.small-print {
    background-color: rgb(251, 210, 212);
	padding: 30px 0;
}

p {
	font-size: 16px;
}
