/* COLOR PALETTE

#ec1f27;
#f04d54;
#f3797f;
#fbd2d4;

#231e1e;
#3b3838;
#5f5d5d;
#8c8989;
#c2c0bf;

*/

/* global styling */

	body {
		padding-top: 80px;
		color: #231e1e;
		}

	h1, h2, h3, h4, h5, h6 {
		color: #231e1e;
	}

	h1, h2, h3  {
		font-family: "Styrene B";
	}

	h4, h5, h6, p  {
		font-family: "Klima";
	}

	a, a:hover {
		color: #ec1f27;
	}

	a:hover {
		cursor: pointer;
	}

	p {
		font-size: 16px;
	}

	.small-print {
	    background-color: rgb(251, 210, 212);
		padding: 30px 0;
	}

/* navbar styling */

	.navbar, .navbar-inverse {
		background-color: #ec1f27;
		border-style: none;
		min-height: 80px;
	}

	/* logo */

		.navbar-brand {
			height: auto;
		}

		.navbar-brand img {
			height: 48px;
			width: auto;
		}

	/* navbar menu items */

		ul.nav {
			padding: 15px;
		}

	/* navbar hamburger menu */

		.navbar-toggle, .navbar-inverse .navbar-toggle {
			margin: 15px;
			border: 1px solid #ffffff;
		}

		.navbar-inverse .navbar-toggle:hover {
			text-decoration: underline;
			background-color: transparent;
			transition: 0.5s;
		}

		.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active {
			background-color: transparent;
			transition: 0.5s;
		}

		.navbar-inverse .navbar-collapse {
			border-style: none;
		}

		.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
			background-color: rgba(255, 255, 255, 0.2);
			border-radius: 3px;
		}

		nav .container {
			margin-top: 0;
		}

		/* hamburger menu links */

			.navbar-inverse .navbar-nav > li > a {
				color: #eeeeee;
			}

			.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
				background-color: transparent;
				transition: 0.5s;
				border-radius: 3px;
			}

			.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
				text-decoration: underline;
			}

			.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
				background-color: rgba(255, 255, 255, 0.2);
				border-radius: 3px;
			}

			.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
				color: #fff;
			}

		/* jumbotron feature */

			.jumbotron.feature {
				background-color: rgb(236, 31, 39);
				color: rgb(35, 31, 32);
				margin-bottom: 0;
				}

				.feature h3 {
					color: #fff;
				}

				.feature .container h2 {
					color: #fff;
					font-weight: bold;
				}

	/* jumbotron page content */

		.jumbotron {
			background-color: #fbd3d4;
			color: rgb(35, 31, 32);
		}

		.container .jumbotron {
			border-radius: 0;
		}

		@media (min-width: 768px) {
			.container .jumbotron {
				border-radius: 6px;
			}
		}

		#app-placeholder .jumbotron {
			border-radius: 6px;
			padding: 30px 15px;
		}

		.jumbotron p {
			font-weight: 300;
		}

		.page-header {
			border-bottom: 3px dotted #231e1e;
		}

		.jumbotron > hr {
  		border-top-color: #231e1e;
		}

@media (min-width: 768px) {
	.container {
		margin-top: 30px;
	}
}

/* articles */

	.article-intro {
	    margin-bottom: 25px;
	}

/* footer */

	.footer-blurb {
	    padding: 30px 0;
	    background-color: rgb(251, 210, 212);
		color: rgb(35, 31, 32);
	}

	.footer-blurb-item {
	    padding: 30px;
	    }

/* tables */

	.table > thead > tr > th, .table > tbody > tr > th  {
		border-bottom: 2px solid #231e1e;
	}

	.table > tbody > tr > td, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td {
		border-bottom: 1px solid #231e1e;
	}
